body {
  font-family: 'Poppins', sans-serif;
  background-color: #5584AC;
}

nav{
  background-color: #22577E;
}

.img {
  height: 200px;
  width: auto;
}

h1 {
  color:black;
  font-size: 50%;
}

p {
  color: black;
}

.title {
  color: black;
}
.nav-title{
  color: white;
  font-size: 150%;
  font-family: "Segoe UI";
}
.nav-link{
  color: white;
  font-family: "Segoe UI";
}
.feature {
  background-color: #8bd3dd;
}

.card {
  border-radius: 50px;
  border: none;
  background-color: #FAFFAF;
}

.btn {
  background-color: #FAFFAF;
  border-radius: 20px;
  color: black;
  font-weight: bold;
  border: none;
}

.btn:hover {
  background-color: #22577E;
  color: white;
  font-weight: bold;
}

.form-control{
  border-radius: 50px;
}

footer{
  background-color: #8bd3dd;
}

.faq {
  text-decoration: none;
  color: black;
}
.col-10{
  animation: movimiento 2.5s linear infinite;
}

.col-10 img{
  width: 400px;
  border-radius: 50%;
  display: block;
}


@keyframes movimiento{
  0%{
      transform: translateY(0);
  }
  50%{
      transform: translateY(30px);
  }
  100%{
      transform: translateY(0);
  }
}